body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  margin-bottom: 20px;
}

input[type="number"] {
  margin-right: 10px;
}

#output {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
